@page
@model ScriptureJournal.Pages.scriptures.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScriptureNote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Verse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Verse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.DateAdded)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ScriptureNote.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
