@page
@model ScriptureJournal.Pages.scriptures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScriptureNote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Verse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Verse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureNote.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureNote.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a class ="text-warning" asp-page="./Edit" asp-route-id="@Model.ScriptureNote?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
